/*================common css==================*/
body{
    font-size: 14px;
    font-family: "Microsoft YaHei",sans-serif;
    color: #333;
}
a{
    color: #333;
}
a:hover{
    color: #e92322;
    text-decoration: none;
}
.margin-bottom-70 {
    margin-bottom: 70px !important;
}
.marginbot-50 {
    margin-bottom: 50px !important;
}
.bg-white {
    background: #fff;
}
.font-yel{
    color: #F4D03F;
}
@font-face {
    font-family: 'wjs_fonts';
    src:
            url('../fonts/MiFie-Web-Font.svg') format('svg'),
            url('../fonts/MiFie-Web-Font.ttf') format('truetype'),
            url('../fonts/MiFie-Web-Font.woff') format('woff'),
            url('../fonts/MiFie-Web-Font.eot') format('embedded-opentype');
}
.wjs_icon{
    font-family: wjs_fonts;
}
.wjs_icon_phone::before{
    content: "\e908";
}

.m_l10{
    margin-left: 10px;
}
/*================model css===================*/
/*导航*/
.my-nav-bar{
    float: right;
}
.my-content{
    position: relative;
    overflow: auto;
}

.my-navbar-default {
    background-color:transparent;
    border-color: #e7e7e7;
}
.my-navbar-default .navbar-brand {
    color: #777;
}
.my-navbar-default .navbar-brand:hover,
.my-navbar-default .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}
.my-navbar-default .navbar-text {
    color: #777;
}
.my-navbar-default .navbar-nav > li > a {
    color: #fff;
}
.my-navbar-default .navbar-nav > li > a:hover,
.my-navbar-default .navbar-nav > li > a:focus {
    color: #48D6C0;
    background-color: transparent;
}
.my-navbar-default .navbar-nav > .active > a,
.my-navbar-default .navbar-nav > .active > a:hover,
.my-navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
}
.my-navbar-default .navbar-nav > .disabled > a,
.my-navbar-default .navbar-nav > .disabled > a:hover,
.my-navbar-default .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}
.my-navbar-default .navbar-toggle {
    border-color: #ddd;
}
.my-navbar-default .navbar-toggle:hover,
.my-navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}
.my-navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
.my-navbar-default .navbar-collapse,
.my-navbar-default .navbar-form {
    border-color: #e7e7e7;
}
.my-navbar-default .navbar-nav > .open > a,
.my-navbar-default .navbar-nav > .open > a:hover,
.my-navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}
@media (max-width: 767px) {
    .my-navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .my-navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .my-navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
    }
    .my-navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .my-navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .my-navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }
    .my-navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
    .my-navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .my-navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }
}
.my-navbar-default .navbar-link {
    color: #777;
}
.my-navbar-default .navbar-link:hover {
    color: #333;
}
.my-navbar-default .btn-link {
    color: #777;
}
.my-navbar-default .btn-link:hover,
.my-navbar-default .btn-link:focus {
    color: #333;
}
.my-navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .my-navbar-default .btn-link:hover,
.my-navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .my-navbar-default .btn-link:focus {
    color: #ccc;
}

/*banner部分*/
.hero {background: url(../images/hbg.jpg) no-repeat center center;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;padding: 200px 0 200px 0;height: auto;}
.hero h1 { font-size: 40px; letter-spacing: 12px; margin: 40px 0 10px; font-weight: 900; color: #fff;}
.hero h1 span { color: #a1a9b0; display: inline-block; }
.hero p { font-size: 24px; font-weight: 400; color: #fefefe; }
.learn-more-btn { background: rgba(61, 201, 179, 1); padding: 20px 20px; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; -o-border-radius: 5px; color: #fff;letter-spacing: 1px; display: inline-block; margin: 60px 0 0; font-weight: bold; }
.learn-more-btn:hover, .learn-more-btn:focus { background: rgba(61, 201, 179, 0.6); color: #fff; }

.intro {width:100%;  position:relative;  padding:0;  }
.intro-inner {  width:100%;  position:relative;  padding:120px 0 20px;  }
.brand-heading {font-size: 40px;  }
.intro-text {font-size: 18px;}

.project{
    height: 500px;
}
.skill{
    height: 500px;
}
.contact{
    height: 500px;
}
