
/*================model css===================*/
/*导航*/

.my-nav-bar
{
    float: right;
}
.my-content
{
    position: relative;

    overflow: auto;
}

.my-navbar-default
{
    height: 70px;
    transition: all 1s;
    background-color: transparent;
}
.my-navbar-default.onChange
{
    height: 60px;
    border-bottom: 1px solid #eee;
    background: #fff ;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
}
.my-navbar-default.onChange .navbar-brand
{
    color: #333;
}
.my-navbar-default.onChange .my-navbar-nav > li > a
{
    color: #333;
}


.my-navbar-default.onChange .my-navbar-nav > .active > a,
.my-navbar-default.onChange .my-navbar-nav > .active > a:hover,
.my-navbar-default.onChange .my-navbar-nav > .active > a:focus
{
    color: #f4d03f;
}


.my-navbar-default .navbar-brand
{
    font-size: 20px;
    font-weight: 700;

    color: #fff;
}
.my-navbar-default .navbar-brand:hover,
.my-navbar-default .navbar-brand:focus
{
    color: #f4d03f;
    background-color: transparent;
}
.my-navbar-default .navbar-text
{
    color: #777;
}
.my-navbar-default .my-navbar-nav > li > a
{
    color: #fff;
}
.my-navbar-default .my-navbar-nav > li > a:hover,
.my-navbar-default .my-navbar-nav > li > a:focus
{
    color: #333;
    background-color: transparent;
}
.my-navbar-default .my-navbar-nav > .active > a,
.my-navbar-default .my-navbar-nav > .active > a:hover,
.my-navbar-default .my-navbar-nav > .active > a:focus
{
    color: #f4d03f;
}
.my-navbar-default .my-navbar-nav > .disabled > a,
.my-navbar-default .my-navbar-nav > .disabled > a:hover,
.my-navbar-default .my-navbar-nav > .disabled > a:focus
{
    color: #ccc;
    background-color: transparent;
}
.my-navbar-default .navbar-toggle
{
    border-color: #ddd;
}
.my-navbar-default .navbar-toggle:hover,
.my-navbar-default .navbar-toggle:focus
{
    background-color: #ddd;
}
.my-navbar-default .navbar-toggle .icon-bar
{
    background-color: #888;
}
.my-navbar-default .navbar-collapse,
.my-navbar-default .navbar-form
{
    border-color: #e7e7e7;
}
.my-navbar-default .my-navbar-nav > .open > a,
.my-navbar-default .my-navbar-nav > .open > a:hover,
.my-navbar-default .my-navbar-nav > .open > a:focus
{
    color: #555;
    background-color: #e7e7e7;
}
@media (max-width: 767px)
{
    .my-navbar-default .my-navbar-nav .open .dropdown-menu > li > a
    {
        color: #777;
    }
    .my-navbar-default .my-navbar-nav .open .dropdown-menu > li > a:hover,
    .my-navbar-default .my-navbar-nav .open .dropdown-menu > li > a:focus
    {
        color: #333;
        background-color: transparent;
    }
    .my-navbar-default .my-navbar-nav .open .dropdown-menu > .active > a,
    .my-navbar-default .my-navbar-nav .open .dropdown-menu > .active > a:hover,
    .my-navbar-default .my-navbar-nav .open .dropdown-menu > .active > a:focus
    {
        color: #555;
        background-color: #e7e7e7;
    }
    .my-navbar-default .my-navbar-nav .open .dropdown-menu > .disabled > a,
    .my-navbar-default .my-navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .my-navbar-default .my-navbar-nav .open .dropdown-menu > .disabled > a:focus
    {
        color: #ccc;
        background-color: transparent;
    }
}
.my-navbar-default .navbar-link
{
    color: #777;
}
.my-navbar-default .navbar-link:hover
{
    color: #333;
}
.my-navbar-default .btn-link
{
    color: #777;
}
.my-navbar-default .btn-link:hover,
.my-navbar-default .btn-link:focus
{
    color: #333;
}
.my-navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .my-navbar-default .btn-link:hover,
.my-navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .my-navbar-default .btn-link:focus
{
    color: #ccc;
}
.my-navbar-nav
{
    margin: 7.5px -15px;
}
.my-navbar-nav > li > a
{
    line-height: 20px;

    padding-top: 20px;
    padding-bottom: 20px;
}
@media (max-width: 767px)
{
    .my-navbar-nav .open .dropdown-menu
    {
        position: static;

        float: none;

        width: auto;
        margin-top: 0;

        border: 0;
        background-color: transparent;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    .my-navbar-nav .open .dropdown-menu > li > a,
    .my-navbar-nav .open .dropdown-menu .dropdown-header
    {
        padding: 5px 15px 5px 25px;
    }
    .my-navbar-nav .open .dropdown-menu > li > a
    {
        line-height: 20px;
    }
    .my-navbar-nav .open .dropdown-menu > li > a:hover,
    .my-navbar-nav .open .dropdown-menu > li > a:focus
    {
        background-image: none;
    }
}
@media (min-width: 768px)
{
    .my-navbar-nav
    {
        float: right;

        margin: 0 50px 0 0;
    }
    .my-navbar-nav > li
    {
        float: left;
    }
    .my-navbar-nav > li > a
    {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}



/*banner部分*/
.hero
{
    height: auto;
    padding: 270px 0 270px 0;

    background: url(../images/hbg.jpg) no-repeat center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}
.hero h1
{
    font-size: 50px;
    font-weight: 900;

    margin: 40px 0 10px;

    letter-spacing: 12px;

    color: #fff;
}
.hero h1 span
{
    display: inline-block; 

    color: #a1a9b0;
}
.hero p
{
    font-size: 24px;
    font-weight: 400;

    color: #fefefe;
}
.learn-more-btn
{
    font-weight: bold; 

    display: inline-block;

    margin: 60px 0 0;
    padding: 20px 20px;

    letter-spacing: 1px;

    color: #fff;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    background: rgba(61, 201, 179, 1);

         -o-border-radius: 5px;
}
.learn-more-btn:hover,
.learn-more-btn:focus
{
    color: #fff; 
    background: rgba(61, 201, 179, .6);
}

.intro
{
    position: relative;

    width: 100%;
    padding: 0;
}
.intro-inner
{
    position: relative;

    width: 100%;
    padding: 120px 0 20px;
}
.brand-heading
{
    font-size: 40px;
}
.intro-text
{
    font-size: 18px;
}

/*个人简介*/
.about
{
    position: relative;
    z-index: 120;
    display: block;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 110px;

}
.about .section-heading h2
{
    color: #111;
}
.section-heading h2
{
    font-size: 26px;
    font-weight: 700;

    margin-bottom: 10px;

    letter-spacing: 1px;
    text-transform: uppercase;
}
.divider-header
{
    background: #666;
}
.about p
{
    line-height: 200%;
}


.divider-header
{
    display: block;

    width: 40px;
    height: 2px;
    margin: 0 auto;
    margin-bottom: 10px;
}

/*项目列表*/
.project
{
    padding-bottom: 100px;
    background: #F7F7F7;
}
.heading
{
    position: relative;
    z-index: 1;

    margin-bottom: 50px;

    text-align: center;
}
.heading h2
{
    font-size: 26px;
    font-weight: 700;
    padding-top: 50px;
    margin: 0 0 20px;

    color: #111;
}

.heading p
{
    font-size: 16px;
    font-weight: 300;

    letter-spacing: .5px;
    text-transform: uppercase;

    color: #8693a7;
}

.heading:after
{
    position: absolute;
    bottom: -15px;
    left: 50%;

    width: 50px;
    height: 3px;
    margin-left: -25px;

    content: ' ';

    background: #666;
}

.gallery-item img
{
    background: #fff;
    padding: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.nav-tabs-parent
{
    width: 465px;
    margin: 0 auto 50px;
}
.nav-tabs-parent > li
{
    float: left;
}
.nav-tabs-parent > li > a
{
    line-height: 1.42857143;

    margin-right: 20px;
    padding: 5px 10px;

    border: 1px solid transparent;
    border-radius: 4px;
}
.nav-tabs-parent > li > a:hover
{
    border-color: #eee #eee #ddd;
}
.nav-tabs-parent > li.active > a,
.nav-tabs-parent > li.active > a:hover,
.nav-tabs-parent > li.active > a:focus
{
    cursor: default;

    color: #fff;
    border-bottom-color: transparent;
    background-color: #3dc9b3;
}
.nav-tabs-parent.nav-justified
{
    width: 100%;

    border-bottom: 0;
}
.nav-tabs-parent.nav-justified > li
{
    float: none;
}
.nav-tabs-parent.nav-justified > li > a
{
    margin-bottom: 5px;

    text-align: center;
}
.nav-tabs-parent.nav-justified > .dropdown .dropdown-menu
{
    top: auto;
    left: auto;
}
@media (min-width: 768px)
{
    .nav-tabs-parent.nav-justified > li
    {
        display: table-cell;

        width: 1%;
    }
    .nav-tabs-parent.nav-justified > li > a
    {
        margin-bottom: 0;
    }
}
.nav-tabs-parent.nav-justified > li > a
{
    margin-right: 0;

    border-radius: 4px;
}

@media (min-width: 768px)
{
    .nav-tabs-parent.nav-justified > li > a
    {
        border-radius: 4px 4px 0 0;
    }
    .nav-tabs-parent.nav-justified > .active > a,
    .nav-tabs-parent.nav-justified > .active > a:hover,
    .nav-tabs-parent.nav-justified > .active > a:focus
    {
        border-bottom-color: #fff;
    }
}

.nav-pills > li
{
    float: left;
}
.nav-pills > li > a
{
    border-radius: 4px;
}
.nav-pills > li + li
{
    margin-left: 2px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus
{
    color: #fff;
    background-color: #337ab7;
}
.nav-stacked > li
{
    float: none;
}
.nav-stacked > li + li
{
    margin-top: 2px;
    margin-left: 0;
}
.nav-justified
{
    width: 100%;
}
.nav-justified > li
{
    float: none;
}
.nav-justified > li > a
{
    margin-bottom: 5px;

    text-align: center;
}
.nav-justified > .dropdown .dropdown-menu
{
    top: auto;
    left: auto;
}
@media (min-width: 768px)
{
    .nav-justified > li
    {
        display: table-cell;

        width: 1%;
    }
    .nav-justified > li > a
    {
        margin-bottom: 0;
    }
}
.nav-tabs-parent-justified
{
    border-bottom: 0;
}
.nav-tabs-parent-justified > li > a
{
    margin-right: 0;

    border-radius: 4px;
}
.nav-tabs-parent-justified > .active > a,
.nav-tabs-parent-justified > .active > a:hover,
.nav-tabs-parent-justified > .active > a:focus
{
    border: 1px solid #ddd;
}
@media (min-width: 768px)
{
    .nav-tabs-parent-justified > li > a
    {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0;
    }
    .nav-tabs-parent-justified > .active > a,
    .nav-tabs-parent-justified > .active > a:hover,
    .nav-tabs-parent-justified > .active > a:focus
    {
        border-bottom-color: #fff;
    }
}
.tab-content > .tab-pane
{
    display: none;
}
.tab-content > .active
{
    display: block;
}
.nav-tabs-parent .dropdown-menu
{
    margin-top: -1px;

    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.gallery-item .project-list-img
{
    position: relative;

    display: block;

    width: 100%;
    height: 100%;
}
.gallery-item .mask
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    -webkit-transition: opacity .3s;
       -moz-transition: opacity .3s;
        -ms-transition: opacity .3s;
         -o-transition: opacity .3s;
            transition: opacity .3s;

    opacity: 0;
    color: #fff;
    background-color: #005896;
    background-color: rgba(61,200,180,.9);

    filter: alpha(opacity=0);
}
.gallery-item .mask h3
{
    margin-top: 100px;

    text-align: center;
}
.gallery-item .mask p
{
    margin-top: 30px;

    text-align: center;
}
.gallery-item a:hover .mask
{
    opacity: 1;

    filter: alpha(opacity=100);
}
/*职业技能*/
.skill
{
    position: relative;
    z-index: 120;

    display: block;

    padding-top: 50px;
    padding-bottom: 110px;

}

.service-box
{
    height: 370px;
    padding: 20px 20px 10px;

    border-bottom: 2px solid #f7f7f7;
    background: #f9f9f9;
}

.service-desc p
{
    line-height: 200%;

    text-align: left;
}
.service-box:hover
{
    border-bottom: 2px solid #3dc9b3;
}
.service-box:hover
{
    margin-top: -10px;

    -webkit-transition: all .2s ease-in-out;
       -moz-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
}
.service-icon
{
    margin-bottom: 20px;
}
.fa-2x
{
    font-size: 2em;
}

.fa
{
    font-family: myself_fonts;
    font-size: 2.2em;
    font-weight: normal;
    font-style: normal;
    line-height: 1;

    display: inline-block;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.my_icon_system
{
    font-family: my_fonts_system;
}
/*联系方式*/
.contact
{
    padding-top: 50px;
    background: #F9F9F9;
}
.contact-list-info
{
    padding-top: 50px;
}
.contact-list-info li
{
    line-height: 37px;
    position: relative;
    height: 37px;
    padding-left: 20px;
    list-style: none;
    text-align: left;
    color: #47a899;
}
.contact-list-info ul li i
{
    position: absolute;
    top: 8px;
    right: 0;
    display: block;
    width: 17px;
    height: 31px;
    background: url('../resumehtml/images/sprite.png') no-repeat;
    background-size: 75px;
}
.contact-list-info ul li .address
{
    background-position: -18px 0;
}
.contact-list-info ul li .tel
{

    background-position: -36px 0;
}
.contact-list-info ul li .email
{

    background-position: -54px 0;
}

.btn-skin
{
    color: #fff;
    border-color: #3dc9b3;
    background-color: #3dc9b3;
}
.btn
{
    font-size: 14px;
    font-weight: 400;

    position: relative;

    display: inline-block;

    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #fff;
    border-radius: 2px;
    outline: none;
    text-shadow: 0 0 1px rgba(255,255,255,.3);
}
.btn-skin:hover
{
    color: #fff;
    border-color: #666;
    background-color: #666;
}

// 修改
#project
{
    margin-top: 50px;
}
